.banner{
    width: 100%;
    max-width: 1600px;
    height: 300px;
    //margin: 2.5em auto 0 auto;
    background-image: url('img/banner.jpg');
    background-position: center;
    box-shadow: inset 5px 5px 25px black;
}
